@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@media screen and (max-width: 1024px) {
   .row{
       display: flex;
       flex-direction: column;
   }
}
:root {
    box-sizing: border-box;

}

body * + * {
    color: #1E2A5C;
}

*, :before, :after {
    box-sizing: inherit;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

img {
    height: 80px;
    width: 80px;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    border-bottom-style: solid;
}

body {
    font-family: 'Khand', sans-serif;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-size: 30px;
    text-align: justify;
}

.card {
    border: solid 1px #1E2A5C;
    border-radius: 5px;
    width: 18em;
    height: 20em;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

h5 {
    text-align: center;
    font-size: 2em;
    margin: -.75em auto;
}

.candidati {
    padding-bottom: 1.5em;

}

.card-img-top {
    display: flex;
    height: 15em;
    width: 18em;
    padding: 0.5em;
    border-radius: .75em;
}

.row {
    display: flex;
    justify-content: center;
}

.col-sm{
    padding: 0.5em;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-style: solid;
    padding-top: 1.5em;
}

#insta {
    height: 40px;
    width: 40px;
    border-radius: .5em;
}

.tornasu {
    font-size: 30px;
    text-align: right;
}

a {
    text-decoration: none;
}