@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@media screen and (max-width: 1024px) {
    .article {
        display: flex;
        flex-direction: column;
    }
}

:root {
    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;
}

body * + * {
    color: #1E2A5C;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

body {
    font-family: 'Khand', sans-serif;
    color: #1E2A5C;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo {
    height: 80px;
    width: 80px;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #1E2A5C;
    text-align: left;
}
.article{

}
footer {
    text-align: center;
}

#insta {
    height: 40px;
    width: 40px;
    border-radius: .5em;
}
a{
    text-decoration: none;
    color: #1E2A5C;
}
a:hover {
    color: red;
    transition: all .3s ease-out;
}
article{
    font-size: 30px;
    text-align: justify;
    border-bottom-style: solid;
}
footer{
    margin-top: 1.5em;
    text-align: center;
}
#insta{
    height: 40px;
    width: 40px;
    border-radius: .5em;
}
.tornasu {
    font-size: 30px;
    text-align: right;
}
a{
    text-decoration: none;
}
