@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@media screen and (max-width: 1024px) {
    .classifica{
        display: flex;
    }
}
:root {
    box-sizing: border-box;
}

*, :before, :after {
    box-sizing: inherit;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}
body {
    font-family: 'Khand', sans-serif;
    color: #1E2A5C;
}
h1 {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0;
    margin: 0;
}
.classifica{
    border-bottom-style: solid;
    margin-bottom: .5em;
}
#classifica {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#classifica th {
    border: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
}