@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@media screen and (max-width: 475px) {
    h1{
        display: flex;
    }
    .menu{
        display: flex;
    }
    ul{
        flex-direction: column;
    }
    li{
        display: flex;
        justify-content: space-between;
    }
}
@keyframes growshrink {
    25%,
    75% {
        scale: 100%;
    }

    50% {
        scale: 200%;
        color: red;
    }
}
:root {
    box-sizing: border-box;

}

*, :before, :after {
    box-sizing: inherit;
}

body {
background-image: url("zyro-image.png");
    background-size: cover;
    font-family: 'Khand', sans-serif;
}

.container {

    max-width: 1080px;
    margin: 0 auto;
}
footer{
    margin-top: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul {
    display: flex;
    list-style-type: none;
    font-size: 25px;
    margin-left: -1.5em;
    justify-content: center;
}

li {
    margin-top: 0;
}

a {
    text-decoration: none;
    padding: 0.5em;
    font-weight: bold;
    border: solid;
    background: #1E2A5C;
    border-radius: .5em;
    color: white;
}
.box-title{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
h1 {
    font-size: 5em;
    color: #1E2A5C;
    text-align: center;
    margin-top: 0;
}

img {
    display: flex;
    height: 20em;
    width: 20em;
}

a:hover {
    color: yellow;
    transition: all .3s ease-out;
}

/*span{*/
/*    display: inline-block;*/
/*    animation-duration: 3s;*/
/*    animation-name: growshrink;*/
/*    animation-iteration-count: infinite;*/
/*}*/
