@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

@media screen and (max-width: 475px) {
    h1 {
        display: flex;
    }

    .box-title {
        display: flex;
    }

    .menu {
        display: flex;
    }

    ul {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    }
    li {
        display: flex;
        justify-content: space-between;
    }
}

@keyframes growshrink {
    25%,
    75% {
        scale: 100%;
    }

    50% {
        scale: 200%;
        color: red;
    }
}

:root {
    box-sizing: border-box;

}

*, :before, :after {
    box-sizing: inherit;
}

body {
    background-image: url("zyro-image-fotor-ai-art-effects-20240725113423.jpeg");
    background-size: cover;
    font-family: 'Khand', sans-serif;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

footer {
    margin-top: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    padding-inline-start: 0;
    display: flex;
    list-style-type: none;
    font-size: 22px;
    justify-content: center;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
    padding: 0.5em;
    font-weight: bold;
    border: solid;
    background: #1E2A5C;
    border-radius: .5em;
    color: white;
}

.box-title {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    font-size: 3em;
    color: #1E2A5C;
    text-align: center;
    align-items: center;
    padding: 0.5em;
}

img {
    height: 10em;
    width: 10em;
}

a:hover {
    color: yellow;
    transition: all .3s ease-out;
}

span{
    display: inline-block;
    animation-duration: 3s;
    animation-name: growshrink;
    animation-iteration-count: infinite;
}
