@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');


:root {
    box-sizing: border-box;

}
body * + * {
    margin-top: 1.5em;
    color: #1E2A5C;
}
*, :before, :after {
    box-sizing: inherit;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
img {
    height: 80px;
    width: 80px;
}
h1 {
    text-align: center;
    font-size: 60px;
    padding: 0.5em 0;
    border-bottom-style: solid;
    margin: 0;
}
body {
    font-family: 'Khand', sans-serif;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    margin-top: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2{
    text-align: center;
}
.partite{
    font-size: 25px;
    border-bottom: solid;
    padding-bottom: 0.5em;
}
a:hover {
    color: red;
    transition: all .3s ease-out;
}

#insta{
    height: 40px;
    width: 40px;
    border-radius: .5em;
}
.tornasu {
    font-size: 30px;
    text-align: right;
}
a{
    text-decoration: none;
}