@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@media screen and (max-width: 475px) {
    div.container{
        display: flex;
        flex-direction: column;
    }
}
:root{
    box-sizing: border-box;
}
*, :before,:after{
    box-sizing: inherit;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
body {
    font-family: 'Khand', sans-serif;
    color: #1E2A5C;
    background: linear-gradient(yellow, darkgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 60px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #1E2A5C;
    text-align: center;
    border-bottom-style: solid;
}

p{
    border-bottom-style: solid;
}
#LOGO {
    height: 80px;
    width: 80px;
}
footer{
    text-align: center;
}
#insta{
    height: 40px;
    width: 40px;
    border-radius: .5em;
}
.organigramma{
    font-size: 40px;
}
.tornasu {
    font-size: 30px;
    text-align: right;
}
a {
    text-decoration: none;
    color: #1E2A5C;
}